.wannaWatchListBody {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;

  .loading, .endMessage {
    color: white;
    font-size: x-large;
    text-align: center;
  }

  .grid {
    padding-top: 20px;
  }
}