.appHeader {
  background: transparent !important;
  color: #fff;
  margin-bottom: 10px;

  .search {
    position: relative;
    margin-left: 25px;

    .searchIcon {
      position: absolute;
      top: 3px;
      left: 0;
      color: #ffffff;
    }

    .searchInput {
      padding-left: 25px;
      background-color: transparent;
      color: #ffffff;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      input {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }

  .actionButton {
    margin-left: 25px;
    cursor: pointer;
  }

  .actionsContainer {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    position: relative;

    .actionButton {
      cursor: pointer;
    }
  }
}