.movieCardGridItem {
  .movieCardWrapper {
    background-color: transparent;

    .movieCard {
      max-width: 244px;

      .movieImage {
        width: 100%;
        height: auto;
      }

      .movieBaseLink {
        padding-right: 10px;
      }
    }
  }
}