.formInputsWrapper {
  max-width: 300px;
  margin: 0 auto;

  .textInput {
    background: #ffffff;
    color: #1d3236;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    input {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }

  .submitButton {
    margin-top: 10px;
  }
}